{% raw %}services:{% endraw %}{% if has_backend %}{% raw %}
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: {% endraw %}{{ repo_name }}{% raw %}-backend
    ports:
      - "4000:4000"
    restart: unless-stopped
    networks:
      - internal_net
{% endraw %}{% endif %}{% raw %}
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: {% endraw %}{{ repo_name }}{% raw %}-frontend
    ports:
      - "{% endraw %}{{ frontend_deployed_port_number }}{% raw %}:3000"{% endraw %}{% if has_backend %}{% raw %}
    depends_on:
      - backend{% endraw %}{% endif %}{% raw %}
    environment:
      GRAPHQL_API_URL: http://backend:4000/graphql
    restart: unless-stopped
    networks:
      - internal_net

networks:
  internal_net:
    internal: {% endraw %}{% if create_internal_docker_compose_network %}{% raw %}false # TODO: figure out a way to set this to true (like in deployment) but still trigger the VS Code port-forwarding to easily see the previews{% endraw %}{% else %}{% raw %}false{% endraw %}{% endif %}{% raw %}{% endraw %}
