{% raw %}# aws ecr get-login-password --region us-east-1 | docker login --username AWS --password-stdin {% endraw %}{{ frontend_ecr_base_url }}{% raw %}
# for when running unit tests to create VCRpy cassettes and you don't want the app itself running: docker-compose up --scale backend=0 --scale frontend=0
services:{% endraw %}{% if has_backend %}{% raw %}
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: {% endraw %}{{ repo_name }}{% raw %}-backend
    ports:
      - "{% endraw %}{{ backend_deployed_port_number }}{% raw %}:{% endraw %}{{ backend_deployed_port_number }}{% raw %}"
    environment:
      API_PORT: {% endraw %}{{ backend_deployed_port_number }}{% raw %}
    volumes:
      - ./docker-compose-logs:/app/logs
    restart: unless-stopped
    network_mode: host
{% endraw %}{% endif %}{% raw %}
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: {% endraw %}{{ repo_name }}{% raw %}-frontend
    ports:
      - "{% endraw %}{{ frontend_deployed_port_number }}{% raw %}:{% endraw %}{{ frontend_deployed_port_number }}{% raw %}"{% endraw %}{% if has_backend %}{% raw %}
    depends_on:
      - backend{% endraw %}{% endif %}{% raw %}
    environment:
      BACKEND_HOST: host.docker.internal
      BACKEND_PORT: {% endraw %}{{ backend_deployed_port_number }}{% raw %}
      FRONTEND_PORT: {% endraw %}{{ frontend_deployed_port_number }}{% raw %}
    restart: unless-stopped
    extra_hosts:
      - "host.docker.internal:host-gateway"{% endraw %}
