{% raw %}services:{% endraw %}{% if has_backend %}{% raw %}
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: {% endraw %}{{ repo_name }}{% raw %}-backend
    ports:
      - "{% endraw %}{{ backend_deployed_port_number }}{% raw %}:4000"
    restart: unless-stopped
    network_mode: host
{% endraw %}{% endif %}{% raw %}
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: {% endraw %}{{ repo_name }}{% raw %}-frontend
    ports:
      - "{% endraw %}{{ frontend_deployed_port_number }}{% raw %}:80"{% endraw %}{% if has_backend %}{% raw %}
    depends_on:
      - backend{% endraw %}{% endif %}{% raw %}
    environment:
      BACKEND_HOST: host.docker.internal
      BACKEND_PORT: {% endraw %}{{ backend_deployed_port_number }}{% raw %}
    restart: unless-stopped
    extra_hosts:
      - "host.docker.internal:host-gateway"{% endraw %}
