{% raw %}[project]
name = "backend-api"
version = "0.1.0"
description = "API to run GraphQL queries"

readme = "README.md"
requires-python = ">={% endraw %}{{ python_version }}{% raw %}"

dependencies = [
    # Specific to this repository

    # Managed by upstream template
    "fastapi{% endraw %}{{ fastapi_version }}{% raw %}",
    "fastapi-offline{% endraw %}{{ fastapi_offline_version }}{% raw %}",
    "uuid-utils{% endraw %}{{ uuid_utils_version }}{% raw %}",{% endraw %}{% if backend_uses_graphql %}{% raw %}
    "strawberry-graphql{% endraw %}{{ strawberry_graphql_version }}{% raw %}",{% endraw %}{% endif %}{% raw %}
    "pydantic>={% endraw %}{{ pydantic_version }}{% raw %}",
    "uvicorn{% endraw %}{{ uvicorn_version }}{% raw %}",
    "structlog{% endraw %}{{ structlog_version }}{% raw %}",{% endraw %}{% if backend_source_uses_kiota %}{% raw %}
    "httpx>={% endraw %}{{ httpx_version }}{% raw %}",
    "microsoft-kiota-bundle{% endraw %}{{ python_kiota_bundle_version }}{% raw %}",{% endraw %}{% endif %}{% raw %}
]


[dependency-groups]
dev = [
    # Specific to this repository


    # Managed by upstream template{% endraw %}{% if not backend_source_uses_kiota %}{% raw %}
    "httpx>={% endraw %}{{ httpx_version }}{% raw %}",
    "microsoft-kiota-bundle{% endraw %}{{ python_kiota_bundle_version }}{% raw %}",{% endraw %}{% endif %}{% raw %}{% endraw %}{% if backend_uses_graphql %}{% raw %}
    "ariadne-codegen[subscriptions]{% endraw %}{{ ariadne_codegen_version }}{% raw %}",{% endraw %}{% endif %}{% raw %}
    "pyright{% endraw %}{{ pyright_version }}{% raw %}",
    "syrupy{% endraw %}{{ syrupy_version }}{% raw %}",
    "pytest{% endraw %}{{ pytest_version }}{% raw %}",
    "pytest-cov{% endraw %}{{ pytest_cov_version }}{% raw %}",
    "pytest-randomly{% endraw %}{{ pytest_randomly_version }}{% raw %}",
    "pytest-mock>={% endraw %}{{ pytest_mock_version }}{% raw %}",
    "pytest-asyncio{% endraw %}{{ pytest_asyncio_version }}{% raw %}",{% endraw %}{% if backend_makes_api_calls %}{% raw %}
    "pytest-recording{% endraw %}{{ pytest_recording_version }}{% raw %}",
    "vcrpy{% endraw %}{{ vcrpy_version }}{% raw %}",{% endraw %}{% endif %}{% raw %}{% endraw %}{% if deploy_as_executable %}{% raw %}
    "pyinstaller>={% endraw %}{{ pyinstaller_version }}{% raw %}",{% endraw %}{% endif %}{% raw %}{% endraw %}{% if is_circuit_python_driver %}{% raw %}
    "pytest-reserial>={% endraw %}0.6.0{% raw %}",{% endraw %}{% endif %}{% raw %}
]{% endraw %}{% if backend_uses_graphql %}{% raw %}

[tool.ariadne-codegen]
schema_path = "src/backend_api/schema.graphql"
include_comments = "none"
queries_path = "tests/e2e/queries/"
async_client = false
target_package_name = "backend"
target_package_path = "tests/e2e/generated/graphql"
enable_custom_operations = true{% endraw %}{% endif %}{% raw %}

[tool.uv]
package = true{% endraw %}
