{% raw %}from enum import Enum


class ApplicationBootupModes(str, Enum):
    EXE = "exe"
    DOCKER_COMPOSE = "docker-compose"


BACKEND_PORT = {% endraw %}{{ backend_deployed_port_number }}{% raw %}
APPLICATION_BOOTUP_MODE: ApplicationBootupModes = ApplicationBootupModes.{% endraw %}{% if deploy_as_executable %}EXE{% else %}DOCKER_COMPOSE{% endif %}{% raw %}
APP_NAME = "{% endraw %}{{ repo_name }}{% raw %}"  # for executables, this should match what's used in pyinstaller.spec, but containerized apps it is currently not utilized{% endraw %}
