import pytest

from .generated.graphql.backend.client import Client
from .jinja_constants import BACKEND_PORT


@pytest.fixture
def client() -> Client:
    return Client(url=f"http://localhost:{BACKEND_PORT}/api/graphql")
