{% raw %}{\rtf1\ansi\deff0{\fonttbl{\f0 Open Sans{\*\falt Segoe UI};}}
\fs18
{% endraw %}{{ human_friendly_app_name }}{% raw %}\par
\par
This software is provided by {% endraw %}{{ installer_manufacturer }}{% raw %} for use under the terms of your agreement with {% endraw %}{{ installer_manufacturer }}{% raw %}. By installing {% endraw %}{{ human_friendly_app_name }}{% raw %} you agree to those terms.\par
}
{% endraw %}