{% raw %}export const DEPLOYED_FRONTEND_PORT_NUMBER = {% endraw %}{{ frontend_deployed_port_number }}{% raw %};{% endraw %}{% if has_backend %}{% raw %}
export const DEPLOYED_BACKEND_PORT_NUMBER = {% endraw %}{{ backend_deployed_port_number }}{% raw %};{% endraw %}{% endif %}{% raw %}
export const APP_NAME = "{% endraw %}{{ repo_name }}{% raw %}";{% endraw %}
