{% raw %}/* eslint-disable @typescript-eslint/no-unused-vars */ // these are constants used in tests
const DEPLOYED_FRONTEND_PORT_NUMBER = {% endraw %}{{ frontend_deployed_port_number }}{% raw %};{% endraw %}
