{% raw %}services:{% endraw %}{% if has_backend %}{% raw %}
  backend:
    image: 183631337349.dkr.ecr.us-east-1.amazonaws.com/{% endraw %}{{ repo_name }}{% raw %}-backend:latest
    container_name: {% endraw %}{{ repo_name }}{% raw %}-backend
    ports:
      - "4000:4000" # TODO: figure out why the deployed server is ignoring the envvar to set the URL, so that we can change this to `expose: 4000` to only make the backend available within the docker network, don't risk conflicts with a port on the host machine
    pull_policy: never  # Prevents Docker from pulling the image
    restart: unless-stopped
{% endraw %}{% endif %}{% raw %}
  frontend:
    image: 183631337349.dkr.ecr.us-east-1.amazonaws.com/{% endraw %}{{ repo_name }}{% raw %}-frontend:latest
    container_name: {% endraw %}{{ repo_name }}{% raw %}-frontend
    ports:
      - "{% endraw %}{{ frontend_deployed_port_number }}{% raw %}:3000"{% endraw %}{% if has_backend %}{% raw %}
    depends_on:
      - backend{% endraw %}{% endif %}{% raw %}
    environment:
      GRAPHQL_API_URL: http://backend:4000/graphql
    pull_policy: never  # Prevents Docker from pulling the image
    restart: unless-stopped{% endraw %}
