{% raw %}// https://nuxt.com/docs/api/configuration/nuxt-config
import { defineNuxtConfig } from "nuxt/config";
export default defineNuxtConfig({
  compatibilityDate: "2024-11-01",
  devtools: { enabled: true },
  // the conditional modules added in by the template make it complicated to format consistently...at least with only 3 'always included' modules
  // prettier-ignore
  modules: [
    "@nuxt/ui"{% endraw %}{% if frontend_uses_graphql %}{% raw %},
    "@nuxtjs/apollo"{% endraw %}{% endif %}{% raw %},
    ["@nuxt/eslint", { devOnly: true }],
    ["@nuxt/test-utils/module", { devOnly: true }],
  ],
  css: ["~/assets/css/main.css"],
  experimental: { appManifest: false }, // https://github.com/nuxt/nuxt/issues/30461#issuecomment-2572616714
  vite: {
    // this seems to be explicitly needed when in a devcontainer in order for hot reloading to work
    server: {
      watch: {
        usePolling: true,
      },
    },
  },{% endraw %}{% if frontend_uses_graphql %}{% raw %}
  apollo: {
    clients: {
      default: {
        httpEndpoint: "placeholder", // must be present but will be overridden in the external config TS file
      },
    },
  },
  runtimeConfig: {
    public: {
      graphql_api_url: "http://127.0.0.1:4000/api/graphql",
    },
  },{% endraw %}{% endif %}{% raw %}
});{% endraw %}
