{% raw %}{
  "name": "nuxt-app",
  "private": true,
  "type": "module",
  "packageManager": "pnpm@{% endraw %}{{ pnpm_version }}{% raw %}",
  "scripts": {
    "type-check": "vue-tsc --noEmit",
    "lint": "eslint . --fix --ext .vue,.ts,.js",
    "build": "pnpm run type-check && nuxt build",
    "comment-about-dev-no-fork": "sometimes it seems needed, other times it seems to work with it...more info https://github.com/nuxt/cli/issues/181",
    "dev": "nuxt dev --no-fork",
    "generate": "pnpm run type-check && nuxt generate",
    "preview": "nuxt preview",
    "postinstall": "nuxt prepare && pnpm exec playwright-core install --only-shell chromium-headless-shell",
    "test-unit": "vitest --exclude=\"tests/e2e/**\" --exclude=\"tests/compiled/**\" --run --coverage",
    "test-unit:watch": "vitest --exclude=\"tests/e2e/**\" --exclude=\"tests/compiled/**\"",
    "test-compiled": "vitest --exclude=\"tests/e2e/**\" --exclude=\"tests/unit/**\" --test-timeout=15000 --run",
    "test-e2e": "{% endraw %}{% if not deploy_as_executable %}{% raw %}docker compose --file=../docker-compose.yaml build && dotenv -v USE_DOCKER_COMPOSE_FOR_VITEST_E2E=1{% endraw %}{% else %}{% raw %}dotenv -v USE_BUILT_BACKEND_FOR_VITEST_E2E=1{% endraw %}{% endif %}{% raw %} -- vitest --exclude=\"tests/unit/**\" --exclude=\"tests/compiled/**\" --test-timeout=15000 --run",
    "test-compiled:watch": "vitest --exclude=\"tests/e2e/**\" --exclude=\"tests/unit/**\" --test-timeout=15000"{% endraw %}{% if frontend_uses_graphql %}{% raw %},
    "codegen": "graphql-codegen --config codegen.ts"{% endraw %}{% endif %}{% raw %}
  },
  "dependencies": {
    "@iconify-json/lucide": "^1.2.41",
    "@nuxt/fonts": "^0.11.4",
    "@nuxt/icon": "^1.13.0",
    "@nuxt/ui": "{% endraw %}{{ nuxt_ui_version }}{% raw %}",
    "@nuxtjs/color-mode": "^3.5.2",
    "nuxt": "{% endraw %}{{ nuxt_version }}{% raw %}",
    "vue": "{% endraw %}{{ vue_version }}{% raw %}",
    "vue-router": "{% endraw %}{{ vue_router_version }}{% raw %}"
  },
  "devDependencies": {
    "@faker-js/faker": "{% endraw %}{{ faker_version }}{% raw %}",{% endraw %}{% if frontend_uses_graphql %}{% raw %}
    "@graphql-codegen/cli": "{% endraw %}{{ graphql_codegen_cli_version }}{% raw %}",
    "@graphql-codegen/typescript": "{% endraw %}{{ graphql_codegen_typescript_version }}{% raw %}",
    "@graphql-codegen/typescript-operations": "^4.6.0",
    "@graphql-codegen/typescript-vue-apollo": "^4.1.1",
    "@graphql-tools/mock": "^9.0.22",
    "@graphql-tools/schema": "^10.0.23",{% endraw %}{% endif %}{% raw %}
    "@nuxt/eslint": "^1.2.0",
    "@nuxt/schema": "^3.0.0",
    "@nuxt/test-utils": "^3.17.2",{% endraw %}{% if frontend_uses_graphql %}{% raw %}
    "@nuxtjs/apollo": "5.0.0-alpha.14",{% endraw %}{% endif %}{% raw %}
    "@nuxtjs/eslint-config-typescript": "^12.1.0",
    "@playwright/test": "^1.52.0",
    "@vitest/coverage-istanbul": "^3.1.3",{% endraw %}{% if frontend_uses_graphql %}{% raw %}
    "@vue/apollo-composable": "^4.2.2",{% endraw %}{% endif %}{% raw %}
    "@vue/devtools-api": "^7.7.2",
    "@vue/test-utils": "^2.4.6",
    "autoprefixer": "^10.4.21",
    "dotenv-cli": "^8.0.0",
    "eslint": "^9.22.0",
    "eslint-plugin-vitest": "^0.5.4",
    "flush-promises": "^1.0.2",{% endraw %}{% if frontend_uses_graphql %}{% raw %}
    "graphql": "^16.10.0",
    "graphql-tag": "^2.12.6",{% endraw %}{% endif %}{% raw %}
    "happy-dom": "^17.4.4",{% endraw %}{% if frontend_uses_graphql %}{% raw %}
    "mock-apollo-client": "^1.3.1",
    "nuxt-codegen": "^1.3.1",{% endraw %}{% endif %}{% raw %}
    "playwright": "^1.52.0",
    "playwright-core": "^1.52.0",
    "postcss": "^8.5.3",
    "tailwindcss": "^4.0.14",
    "typescript": "{% endraw %}{{ typescript_version }}{% raw %}",
    "vitest": "^3.1.3",
    "vue-eslint-parser": "^10.1.1",
    "vue-tsc": "^2.2.8"
  }
}{% endraw %}
