{% raw %}# ------------ Stage 1: Build ------------
FROM node:{% endraw %}{{ node_version }}{% raw %}-alpine{% endraw %}{{ alpine_image_version }}{% raw %} AS builder

# docker build -t my-nuxt-app .
# docker run -p {% endraw %}{{ frontend_deployed_port_number }}{% raw %}:80 my-nuxt-app

# Install pnpm globally
RUN npm install -g pnpm@{% endraw %}{{ pnpm_version }}{% raw %}

WORKDIR /app

# First just copy in the dependency information for better caching
COPY package.json pnpm-lock.yaml ./

# Install dependencies
RUN pnpm install --frozen-lockfile

COPY . .

# build the Nuxt app (generates .output folder in Nuxt 3)
RUN pnpm list
RUN pnpm nuxt prepare && pnpm run generate

# ------------ Stage 2: Production ------------
FROM nginx:{% endraw %}{{ nginx_image_version }}{% raw %}-alpine{% endraw %}{{ alpine_image_version }}{% raw %} AS production

# bring in envsubst (part of gettext) (no particular reason for this version, just pinning for best practice)
RUN apk add --no-cache gettext=0.22.5-r0
COPY default.conf.template /etc/nginx/conf.d/default.conf.template
COPY --from=builder /app/.output/public /usr/share/nginx/html

# set sensible defaults (overridable at `docker run`)
ENV BACKEND_HOST=host.docker.internal \
    BACKEND_PORT={% endraw %}{{ backend_deployed_port_number }}{% raw %}

# Expose port 80 (change if you want TLS terminated here)
EXPOSE 80

# Nginx in foreground
CMD ["sh", "-c", "envsubst '$BACKEND_HOST $BACKEND_PORT' < /etc/nginx/conf.d/default.conf.template > /etc/nginx/conf.d/default.conf && exec nginx -g 'daemon off;'"]
{% endraw %}
