{% raw %}server {
    listen {% endraw %}{{ frontend_deployed_port_number }}{% raw %};
    server_name _;

    root /usr/share/nginx/html;
    index index.html;

    # Serve the static site
    location / {
        try_files $uri $uri/ /index.html;
    }

    # Pass API requests to the backend
    location /api/ {
        client_max_body_size 1m;
        try_files $uri @proxy;
    }{% endraw %}{% if frontend_uses_graphql %}{% raw %}

    # Pass requests for static assets to render the GraphiQL page to the backend
    location /static/graphiql/ {
        try_files $uri @proxy;
    }{% endraw %}{% endif %}{% raw %}
    # Pass requests for accessing the Swagger page to the backend
    location /api-docs {
        try_files $uri @proxy;
    }
    # Pass requests for static assets to render the Swagger page to the backend
    location /static/swagger/ {
        try_files $uri @proxy;
    }

    # Named location with shared proxy configuration
    location @proxy {
        proxy_pass http://${BACKEND_HOST}:${BACKEND_PORT};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}{% endraw %}
