{% raw %}apiVersion: v2
name: {% endraw %}{{ repo_name }}{% raw %}
description: A Helm chart for the {% endraw %}{{ human_friendly_app_name }}{% raw %} with frontend and backend containers accessible via NodePort.
type: application
version: 0.1.0
appVersion: "1.0"{% endraw %}
