{% raw %}# system
adafruit_bus_device{% endraw %}{{ adafruit_circuitpython_busdevice_version }}{% raw %}
adafruit_register{% endraw %}{{ adafruit_circuitpython_register_version }}{% raw %}{% endraw %}
