# system
adafruit_bus_device==5.2.14
adafruit_register==1.11.1



# uv run circup --version
# uv run circup --path=F:/ install -r C:/temp/adafruit/requirements.txt
# uv run circup --path=F:/ freeze
# uv run circup --path=./src/backend_api/firmware/src/ install -r ./src/backend_api/firmware/requirements.txt
