{% raw %}{
  "openapi": "3.1.0",
  "info": {
    "title": "{% endraw %}{{ human_friendly_app_name }}{% raw %}",
    "version": "0.1.0"
  },
  "paths": {
    "/api/healthcheck": {
      "get": {
        "tags": [
          "system"
        ],
        "summary": "Check API health",
        "operationId": "healthcheck_api_healthcheck_get",
        "parameters": [
          {
            "name": "prepend_v",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Include a 'v' before the version number",
              "default": false,
              "title": "Prepend V"
            },
            "description": "Include a 'v' before the version number"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthcheckResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/shutdown": {
      "get": {
        "tags": [
          "system"
        ],
        "summary": "Shut down the server",
        "operationId": "shutdown_api_shutdown_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShutdownResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "HealthcheckResponse": {
        "properties": {
          "version": {
            "type": "string",
            "title": "Version",
            "description": "Version of the application",
            "default": "1.0.0"
          }
        },
        "type": "object",
        "title": "HealthcheckResponse"
      },
      "ShutdownResponse": {
        "properties": {
          "message": {
            "type": "string",
            "title": "Message",
            "description": "Message indicating the shutdown request was received",
            "default": "Shutdown request received. Server will exit shortly."
          }
        },
        "type": "object",
        "title": "ShutdownResponse"
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      },
      "ProblemDetails": {
        "properties": {
          "type": {
            "default": "about:blank",
            "title": "Type",
            "type": "string"
          },
          "title": {
            "title": "Title",
            "type": "string"
          },
          "status": {
            "title": "Status",
            "type": "integer"
          },
          "detail": {
            "title": "Detail",
            "type": "string",
            "x-ms-primary-error-message": true
          },
          "instance": {
            "title": "Instance",
            "type": "string"
          },
          "errorType": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Errortype"
          }
        },
        "required": [
          "title",
          "status",
          "detail",
          "instance"
        ],
        "title": "ProblemDetails",
        "type": "object"
      }
    }
  }
}{% endraw %}
